@page
@model OCFX.Pages.MadminAccess.Exercises.DetailsModel

@{
    ViewData["Title"] = "Exercise Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.ExName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exercise.ExName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.ExType)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Exercise.ExType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.ExGroup)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Exercise.ExGroup)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exercise.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
