@page
@model OCFX.Pages.MadminAccess.Exercises.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].ExerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise[0].TargetedMuscles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercise) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetedMuscles)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
