@page "{id}"
@model OCFX.Pages.Programs.DetailModel
@{
    ViewData["Title"] = Model.WorkoutDetail.Title;
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubTitle"] = Html.DisplayFor(m => m.WorkoutDetail.TargetedMuscles);
}

<section class="row container-fluid">
    <div class="col-md-6">
        <table class="table table-responsive-sm table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ex in Model.Exercises.OrderBy(e => e.Order))
                {
                    <tr>
                        <th><a asp-page="./Exercise" asp-route-id="@ex.Exercise.Id">@ex.Exercise.Name</a></th>
                        <th>@ex.Sets</th>
                        <th>@ex.Repetitions</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <p class="lead">Duration: @Model.WorkoutDetail.Duration</p>
        <p>@Model.WorkoutDetail.Description</p>
    </div>
</section>
