@page
@model OCFX.Pages.Clubs.MessageBoard.BoardMessageModel
@{
    ViewData["Title"] = "BoardMessage";
    ViewData["BannerTitle"] = Model.InitialBoardPost.Title;
    ViewData["BannerSubtitle"] = Model.InitialBoardPost.Board.Title;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.InitialBoardPost != null)
{
    <div class="roundbox-xy my-3">
        <div class="row">
            <div class="col-auto">
                <img src="@Model.InitialBoardPost.Profile.Photos.OrderByDescending(d => d.DateAdded).FirstOrDefault(p => p.Type == DataModels.Photo.PhotoType.Profile).URL" alt="Alternate Text" class="club_avatar" />
                <br />
                <small>@string.Format("{0} {1}.", Model.InitialBoardPost.Profile.FirstName, Model.InitialBoardPost.Profile.LastName.Substring(0,1))</small>
            </div>
            <div class="col-10">
                <h3>
                    @Model.InitialBoardPost.Title
                    @**@
                </h3>
                <span>@Model.InitialBoardPost.Text</span>
                <hr />
                <small>@Model.InitialBoardPost.DatePosted</small>
            </div>
        </div>
    </div>
    <div>
        <ul class="list-group">
            @foreach (var item in Model.InitialBoardComments)
            {
                <li class="list-group-item list-group-item-dark">
                    <div class="row">
                        <div class="col-auto">
                            <img src="@item.Profile.Photos.OrderByDescending(d => d.DateAdded).FirstOrDefault(p => p.Type == DataModels.Photo.PhotoType.Profile).URL" alt="Alternate Text" class="club_avatar" />
                            <br />
                            <small>@string.Format("{0} {1}.", item.Profile.FirstName, item.Profile.LastName.Substring(0,1))</small>
                        </div>
                        <div class="col-10 p-1">
                            <p>@item.Text</p>
                            <hr />
                            <small>@item.DatePosted</small>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
<div class="m-3">
    <a href="#TopicBox" onclick="$('#TopicBox').slideToggle()" class="btn btn-block btn-outline-primary">Reply</a>
</div>
<div id="TopicBox" class="rounded shadow col-md-11 mx-auto p-1 m-3" style="display: none;">
    <form method="post">
        <div class="form-group">
            <textarea class="form-control form-control-sm"
                      asp-for="Input" rows="5"></textarea>
        </div>
        <div class="btn-group btn-block">
            <button class="btn btn-primary"
                    asp-route-BoardId="@Model.InitialBoardPost.BoardId"
                    asp-route-MessageId="@Model.InitialBoardPost.Id"
                    asp-page-handler="Comment">
                Comment
            </button>
            <a onclick="$('#TopicBox').slideToggle()" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
