@page "{id}"
@model OCFX.Pages.Clubs.MessageBoardModel
@{
    ViewData["Title"] = "Message Board";
    ViewData["BannerTitle"] = "Message Board";
    ViewData["BannerSubtitle"] = "I wonder what people are saying?";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="mb-3">
    @if (Model.BoardPosts != null && Model.BoardPosts.Count > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model.BoardPosts)
            {
                <li class="list-group-item">
                    <div class="p-3">
                        <h3>
                            <a asp-page="BoardMessage" asp-route-BoardId="@item.BoardId" asp-route-MessageId="@item.Id">@item.Title</a>
                        </h3>
                        <small>@item.DatePosted - Comments: @item.MessageBoardComments.Count()</small>
                    </div>
                </li>

            }
        </ul>
        <div>
            <a href="#TopicBox" onclick="$('#TopicBox').slideDown()" class="btn btn-block btn-outline-primary">New Topic</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>
                Hmm, seems there aren't any posts here.
                <a href="#TopicBox" onclick="$('#TopicBox').slideDown()">Want to bring up an issue?</a>
            </p>
        </div>
    }
</div>
<div id="TopicBox" class="insetbox-xy" style="display: none;">
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Title" class="label"></label>
            <input asp-for="Input.Title" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Input.Text" class="label">Message</label>
            <textarea asp-for="Input.Text" class="form-control form-control-sm" rows="8"></textarea>
        </div>
        <div class="btn-group btn-block">
            <button class="btn btn-primary" asp-route-BoardId="@Model.BoardId" asp-page-handler="Topic">Post Topic</button>
            <a onclick="$('#TopicBox').slideUp()" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>