@page "{id}"
@model OCFX.Pages.Clubs.MessageBoardModel
@{
    ViewData["Title"] = "Message Board";
    ViewData["BannerTitle"] = "Message Board";
    ViewData["BannerSubtitle"] = "I wonder what people are saying?";
}

@if (Model.BoardPosts != null)
{
<ul class="list-group">
    @foreach (var item in Model.BoardPosts)
    {
    <li class="list-group-item">
        <div class="p-3">
                <h3><a asp-page="BoardMessage" asp-route-BoardId="@item.BoardId" asp-route-MessageId="@item.Id">@item.Title</a></h3>
                <small>@item.DatePosted - Comments: @item.MessageBoardComments.Count()</small>
            </div>
    </li>
    }
</ul>
}
else
{
    <div><p>Hmm, seems there aren't any posts here. Want to bring up an issue?</p></div>
}
