@page
@model OCFX.Pages.MadminAccess.Workouts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.TargetedMuscles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.TargetedMuscles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.DateAdded)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Workout.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
