@page
@model OCFX.Pages.MadminAccess.Workouts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.TargetedMuscles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.TargetedMuscles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Workout.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
