@page
@model OCFX.Pages.Dashboard.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["BannerTitle"] = "Dashboard";
    ViewData["BannerSubtitle"] = "Your dashboard, obviously.";
}
<div class="row text-center">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    @*It's possible to add some additional messages up here.'
        <div class="alert alert-dismissable fade show"></div>*@
    <div class="col-md-4 jumbotron border">
        <h4>@Model.UserTitle</h4>
        <img src="~/images/uploads/@Model.ProfilePhoto.URL" alt="@Model.ProfilePhoto.DateAdded" class="rounded border-secondary mw-100" />
        <hr />
        <div class="btn-group-vertical btn-block">
            <a asp-page="./EditAvatar" class="btn btn-dark">Change Photo</a>
            <a asp-page="./EditProfile" class="btn btn-dark">Edit Profile</a>
            <a asp-page="/Profiles/Friends" class="btn btn-dark">Edit Friends</a>
        </div>
    </div>
    <div class="col-md-4 jumbotron bg-light" id="quest_center">
        @if (Model.Profiler.Campaign != null)
        {
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Campaign</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <a asp-page="/Campaigns/Details" asp-route-id="@Model.Profiler.Campaign.Id">@Model.Profiler.Campaign.CampaignName</a>
                    </td>
                </tr>
                @if (Model.Profiler.Quest != null)
                {
                    <tr>
                        <td>
                            <a asp-page="/Campaigns/Quests/Detail" asp-route-id="@Model.Profiler.Quest.Id">@Model.Profiler.Quest.QuestName</a>
                        </td>
                    </tr>
                }
            </table>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Profiler.Campaign.CampaignQuest)
                        {
                            if (Model.Profiler.Quest != null)
                            {
                                if (Model.Profiler.Quest.Id == task.Id)
                                {
                                    <tr>
                                        <td>@task.QuestName</td>
                                    </tr>
                                }
                                else if (!Model.CompletedQuests.Contains(task.Id))
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="/Campaigns/Quests/Detail" asp-route-id="@task.Id">@task.QuestName</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else if (Model.CompletedQuests.Contains(task.Id))
                            {
                                <tr style="text-decoration: line-through">
                                    <td>@task.QuestName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @* Campaign Progress can go here. *@
        }
    </div>
    <div class="col-md-4 jumbotron border">
        @if (Model.Profiler.Posts != null)
        {
            <h5>Post count: @Model.Profiler.Posts.Count</h5>
            <h6>Your most recent 5 posts</h6>

            foreach (var post in Model.Profiler.Posts.OrderByDescending(x => x.DatePosted).Take(5))
            {
                <div class="border rounded shadow py-3 col-12">
                    <h6>@post.Profile.FirstName @post.Profile.LastName</h6>
                    <p>@post.Text</p>
                    <small>@post.DatePosted</small>
                </div>
                if (post.Comments.Count > 0)
                {
                    foreach (var comment in post.Comments.OrderByDescending(x => x.DatePosted))
                    {
                        <div class="border rounded shadow py-3 col-8">
                            <h6>@comment.Profile.FirstName @comment.Profile.LastName</h6>
                            <p>@comment.Text</p>
                            <small>@comment.DatePosted</small>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div class="row">
    @if (Model.Profiler.Gym != null)
    {
        <div class="col-md-6 jumbotron border mx-auto">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Gym</th>
                        <th>Leader</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a asp-page="/Clubs/Community" asp-route-id="@Model.Profiler.Gym.Club.Id">@Model.Profiler.Gym.Club.Title</a>
                        </td>
                        <td>@Model.Profiler.Gym.Club.Leader.FirstName @Model.Profiler.Gym.Club.Leader.LastName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md-6 jumbotron border mx-auto">
            <p>You are not a part of any gyms.</p>
        </div>
    }

    @if (Model.Profiler.ReceivedMessages != null && Model.Profiler.ReceivedMessages.Count > 0)
    {
        <div class="col-md-6 jumbotron border mx-auto">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">@Model.Profiler.ReceivedMessages.Count @(@Model.Profiler.ReceivedMessages.Count == 1 ? "message" : "messages")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a asp-page="./Messaging/Index" class="btn btn-block btn-outline-dark">Inbox</a>
                        </td>
                    </tr>
                    @foreach (var message in Model.Profiler
                       .ReceivedMessages
                       .Where(u => u.ReceiverId == Model.Profiler.Id)
                       .Where(u => u.Status == Data.DataModels.SocialModels.Shout.MessageStatus.Unread)
                       .OrderByDescending(u => u.DateSent)
                       .TakeLast(5))
                    {
                        <tr>
                            <td>
                                <a asp-page="./Messaging/Inbox" asp-route-MessageId="@message.Id" asp-route-ChainId="@message.ChainIdentifier">@message.SubjectText</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md-6 jumbotron border mx-auto">
            <p>You have no new messages</p>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-6">
        @* Special metrics and tips can go here *@
    </div>
    <div class="col-md-6">
        @* Other options can go here. *@
    </div>
</div>
