@page
@model OCFX.Pages.Dashboard.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["BannerTitle"] = "Dashboard";
    ViewData["BannerSubtitle"] = "Your dashboard, obviously.";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row text-center">
    <div class="col-md-4 dash_section dash_section_left" id="profile_center">
        <h3 class="align-text-bottom">@Model.UserTitle</h3>
        <hr />
        <img src="@Model.Profiler.ProfilePhoto.URL" alt="@Model.Profiler.ProfilePhoto.Caption" class="rounded border-secondary mw-100" />
        <hr />
        <div class="btn-group-vertical btn-group-toggle btn-block">
            
            <a asp-page="./AddWorkout" class="btn btn-sm btn-dark">Add Workout</a>
                 <a asp-page="/Fitness/History" class="btn btn-sm btn-dark">View Workouts</a>
            <a asp-page="./AddWeight" class="btn btn-sm btn-dark">Add Weight</a>
            <a asp-page="./EditAvatar" class="btn btn-sm btn-dark">Change Photo</a>
            <a asp-page="./EditProfile" class="btn btn-sm btn-dark">Edit Profile</a>
            <a asp-page="/Profiles/Friends" class="btn btn-sm btn-dark">Edit Friends</a>
        </div>
    </div>
    <div class="col-md-4 dash_section" id="quest_center">
        @if (Model.Profiler.Campaign != null)
        {<h3>Current Program</h3>
        <hr />
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Campaign</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <a asp-page="/Campaigns/Details" asp-route-id="@Model.Profiler.Campaign.Id">@Model.Profiler.Campaign.Name</a>
                    </td>
                </tr>
                @if (Model.Profiler.Quest != null)
                {
                    <tr>
                        <td>
                            <a asp-page="/Campaigns/Quests/Detail" asp-route-id="@Model.Profiler.Quest.Id">@Model.Profiler.Quest.QuestName</a>
                        </td>
                    </tr>
                }
            </table>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Profiler.Campaign.Quests)
                        {
                            if (Model.Profiler.Quest != null)
                            {
                                if (Model.Profiler.Quest.Id == task.Id)
                                {
                                    <tr>
                                        <td>@task.QuestName</td>
                                    </tr>
                                }
                                else if (!Model.CompletedQuests.Contains(task.Id))
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="/Campaigns/Quests/Detail" asp-route-id="@task.Id">@task.QuestName</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else if (Model.CompletedQuests.Contains(task.Id))
                            {

                                <tr style="text-decoration: line-through">
                                    <td>@task.QuestName</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Campaign</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3>
                                    You are not on a campaign.
                                    <br /> Go join one!
                                </h3>
                                <a asp-page="/Campaigns/Index" class="btn btn-outline-dark">Find a campaign now!</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4 dash_section dash_section_right" id="post_center">
        @if (Model.Profiler.Posts != null)
        {
            <div>
                <h3>Post Activity</h3>
                <hr />
                <h6>Your 5 most recent posts</h6>
            </div>

            foreach (var post in Model.Profiler.Posts.OrderByDescending(x => x.DatePosted).Take(5))
            {
                <div class="roundbox-xy col-12">
                    <h6>@post.Profile.FullName</h6>
                    <p>@post.Text</p>
                    <small>@post.DatePosted</small>
                </div>
                if (post.Comments.Count > 0)
                {
                    foreach (var comment in post.Comments.OrderByDescending(x => x.DatePosted))
                    {
                        <div class="roundbox-xy py-3 col-11">
                            <h6>@comment.Profile.FullName</h6>
                            <p>@comment.Text</p>
                            <small>@comment.DatePosted</small>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div class="row">
    @if (Model.Profiler.Gym != null)
    {
        <div class="col-md dash_section_left">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Gym</th>
                        <th>Leader</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a asp-page="/Clubs/Community" asp-route-id="@Model.Profiler.Gym.Club.Id">@Model.Profiler.Gym.Club.Title</a>
                        </td>

                        @if (Model.Profiler.Gym.Club.Leader != null)
                        {
                            <td>
                                (@Model.Profiler.Gym.Club.Leader.FullName)
                            </td>
                        }
                        else
                        {
                            <td>"Anarchic Setup"</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md dash_section_left">
            <p class="text-center">You are not a part of any gyms.</p>
        </div>
    }

    @if (Model.Profiler.ReceivedMessages != null && Model.Profiler.ReceivedMessages.Count > 0)
    {
        <div class="col-md dash_section_right">
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">@Model.Profiler.ReceivedMessages.Count @(@Model.Profiler.ReceivedMessages.Count == 1 ? "message" : "total messages")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a asp-page="./Messaging/Index" class="btn btn-block btn-outline-dark">Inbox</a>
                        </td>
                    </tr>
                    @foreach (var message in Model.Profiler
                   .ReceivedMessages
                   .Where(u => u.ReceiverId == Model.Profiler.Id)
                   .Where(u => u.Status == DataModels.Shout.MessageStatus.Unread)
                   .OrderByDescending(u => u.DateSent)
                   .TakeLast(5))
                    {
                        <tr>
                            <td>
                                <a asp-page="./Messaging/Inbox" asp-route-MessageId="@message.Id" asp-route-ChainId="@message.ChainIdentifier">@message.SubjectText</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-md dash_section_right">
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th class="">No messages</th>
                    </tr>
                </thead>
                <tbody>
                        <tr><td>This is an empty box.</td></tr>
                </tbody>
            </table>
        </div>
    }
</div>
<div class="row">
    @if (Model.Ad != null)
    {
    <div class="col-md dash_section_left text-center">
        <h3>Current Weight: @Model.Profiler.Weight [@Model.WeightChange]</h3>
        <h6>BMI: @Model.Ad[3] [@Model.Ad[1]]</h6>
        <p>@Model.Ad[2]</p>
    </div>
    }
    <div class="col-md dash_section dash_section_right text-center">
        <h3>Suggested Intake: @Model.CalorieBurn Calories</h3>
        <p>You should have an overall calorie intake of around @Model.CalorieBurn calories. <br />
        If you move a bit, you can add another ~250 or so on that number depending on how much activity you normally do.</p>
    </div>
</div>
