@page "{id}"
@model OCFX.Pages.Campaigns.Quests.DetailModel
@{
    ViewData["Title"] = "Detail";
    ViewData["BannerTitle"] = "Quest Detail";
    ViewData["BannerSubtitle"] = "You never needed that time anyway";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<h2>@Model.Quest.QuestName</h2>
<h6>Type: @Model.Quest.QuestStyle</h6>
<p>@Model.Quest.QuestStory</p>
<p>There is no time limit</p>

@if (!Model.Completed.Contains(Model.Quest.Id))
{
    @if (Model.QuestBlocker == null)
    {
        <form method="post" class="">
            <div class="form-group">
                <p>Ready to accept this quest?</p>
                <button asp-page-handler="AcceptQuest" asp-route-id="@Model.Quest.Id" class="btn btn-primary">Accept</button>
                <a asp-page="/Dashboard/Index" class="btn btn-secondary">Decline</a>
            </div>
        </form>
    }
    else if (Model.QuestBlocker.Quest.Id == Model.Quest.Id)
    {
        <form method="post" class="">
            <div class="form-group">
                <p>Finished?</p>
                <button asp-page-handler="CompleteQuest" asp-route-id="@Model.Quest.Id" class="btn btn-success">Finish</button>
                <a asp-page="/Dashboard/Index" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    }
}
else if (Model.Completed.Contains(Model.Quest.Id))
{
    <h4>You have completed this quest.</h4>
}
