@model (string methodtext, OCFX.DataModels.Shout message)

@if (Model.message.ChainIdentifier != null)
{
    <form asp-page-handler="@Model.methodtext" method="post">
        <input asp-for="@Model.message.ChainIdentifier" class="form-control form-control-sm" hidden />
        <input asp-for="@Model.message.SubjectText" class="form-control form-control-sm" />
        <textarea asp-for="@Model.message.MessageText" class="form-control form-text" placeholder="What do you have to say?"></textarea>
        <button asp-page-handler="@Model.methodtext" type="submit" class="btn btn-primary"></button>
    </form>
}
else if (Model.methodtext == "SendMail")
{
<form asp-page-handler="@Model.methodtext" asp-route-id="@Model.message.ReceiverId" method="post" novalidate>
    <div class="form-group form-group-sm">
        <label asp-for="@Model.message.SubjectText">Subject</label>
        <input asp-for="@Model.message.SubjectText" class="form-control form-control-sm" />
    </div>
    <div class="form-group form-group-sm">
        <label asp-for="@Model.message.MessageText">Message</label>
        <textarea asp-for="@Model.message.MessageText" class="form-control form-text" placeholder="What do you have to say?"></textarea>
    </div>
    <div class="btn-group btn-group-sm btn-group-justified d-flex align-content-center">
        <button class="btn btn-primary">Send</button>
        <a href="#" onclick="showSendBox()" class="btn btn-danger">Cancel</a>
    </div>
</form>
}