@page
@model OCFX.Pages.Dashboard.Messaging.InboxModel
@{
    ViewData["Title"] = "Inbox";
}

<div class="text-center">
    <h2>Messages</h2>
    <h4>You've got mail.</h4>
    <hr />
</div>
<div class="text-center">
    Your conversation with @Model.IMessage.Sender.FirstName
</div>
<div>
    @foreach (var message in Model.MailReceived)
    {
        @if (message.Id == Model.IMessage.Id)
        {
            <div class="border shadow-lg my-4 p-4 rounded" id="message_@message.Id">
                <p>@message.SubjectText [from @message.Sender.FirstName]</p>
                <pre>@message.MessageText</pre>
                <small>@message.DateSent</small>
                <hr />
                    <a href="#ReplyBox" onclick="showReplyBox()" class="btn btn-block btn-outline-primary">Reply?</a>
                <div id="ReplyBox" style="display: none;" class="m-3 form-group">
                    <form asp-page-handler="Reply" asp-route-MessageId="@message.Id" method="post">
                        <textarea asp-for="ReplyMessage" class="form-control form-text" rows="6"></textarea>
                        <div class="btn-group btn-group-sm btn-group-justified d-flex align-content-center">
                            <button class="btn btn-outline-primary">Send</button>
                            <a href="#message_@message.Id" onclick="showReplyBox()" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="text-black-50" id="message_@message.Id">
                <p>@message.SubjectText from @message.Sender.FirstName</p>
                <pre>@message.MessageText</pre>
                <small>@message.DateSent</small>
                <hr />
            </div>
        }
    }
    <a href="#" onclick="showDeleteBox()" class="btn btn-block btn-outline-warning">Delete Conversation</a>
</div>
<div id="DeleteBox" style="display: none;" class="border shadow m-4 p-3 rounded">
    <form asp-page-handler="Archive" asp-route-ChainId="@Model.IMessage.ChainIdentifier" method="post">
        <p class="text-center">This will archive all messages in this conversation. Are you sure you want to do this?</p>
        <div class="btn-group btn-group-sm btn-group-justified d-flex align-content-center">
            <button class="btn btn-primary">Archive it all?</button>
            <a href="#DeleteBox" onclick="showDeleteBox()" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
