@page
@model OCFX.Pages.Dashboard.Messaging.MessengerModel
@{
    ViewData["Title"] = "Index";
    ViewData["BannerTitle"] = "Messages";
    ViewData["BannerSubtitle"] = "You've got mail.";
}

@if (Model.MailReceived != null && Model.MailReceived.Count() > 0)
{
    <div class="text-center">
        <h3 class="border shadow rounded">
            <u>Inbox</u>
        </h3>
    <table class="table table-bordered table-striped text-center rounded">
        <thead class="thead-dark">
            <tr>
                @*<th>Mark</th>*@
                <th>From</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mail in Model.MailReceived.TakeLast(10))
            {
                <tr>
                    @*<td>@Html.CheckBox()</td>*@
                    <td>@mail.Sender.FirstName</td>
                    <td>
                        <a asp-page="./Inbox"
                           asp-route-ChainId="@mail.ChainIdentifier" asp-route-messageId="@mail.Id">@mail.SubjectText</a>
                    </td>
                    <td>@mail.DateSent</td>
                    <td>@(mail.Status == Data.DataModels.SocialModels.Shout.MessageStatus.Unread ? "New" : "Opened")</td>
                </tr>
            }
        </tbody>
    </table></div>
}
else
{
    <div class="text-center">
        <h2 class="roundbox-xy">No messages here.</h2>
    </div>
}
<hr />
<div class="text-center">
    @if (Model.ArchivedMailReceived != null && Model.ArchivedMailReceived.Count() > 0)
    {
        <h3 class="border shadow rounded">
            <u>Archived Messages</u>
        </h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    @*<th>Mark</th>*@
                    <th>From</th>
                    <th>Subject</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mail in Model.ArchivedMailReceived)
                {
                    <tr>
                        @*<td>@Html.CheckBox()</td>*@
                        <td>@mail.Sender.FirstName</td>
                        <td>
                            @mail.SubjectText
                        </td>
                        <td>@mail.DateSent</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h2 class="roundbox-xy">No archived messages here.</h2>
        </div>
    }
</div>

