@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubTitle"] = "Jump back into it.";
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row text-center my-5">
    <section class="col-md-7 mx-auto">
        <form id="account" method="post">
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="E-Mail" autocomplete="username"/>
                </div>
                <span asp-validation-for="Input.Email" class="form-text text-danger"></span>
            </div>
            <br />
            <div class="col-auto">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" autocomplete="current-password" />
                </div>
                <span asp-validation-for="Input.Password" class="form-text text-danger"></span>
            </div>
            <br />
            @*
                ADD LATER

                <div class="form-group">
                    <div class="checkbox form-check form-check-inline">
                        <label asp-for="Input.RememberMe" class="form-check-label">
                            <input asp-for="Input.RememberMe" class="form-check-input" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            *@
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-outline-dark">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <small><a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a></small>
                </p>
            </div>
        </form>
    </section>
</div>
@*
        ADD LATER

        <div class="col-md-4">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}