@page
@model OCFX.Pages.MadminAccess.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FitClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.FitType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.FitType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.StrengthMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.StrengthMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.SpeedMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.SpeedMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.ConstitutionMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.ConstitutionMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.DexterityMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.DexterityMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.ConcentrationMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.ConcentrationMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FitClass.MotivationMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FitClass.MotivationMod)
        </dd>
    </dl>
</div>
<div class="btn-group btn-group-sm">
    <a asp-page="./Edit" asp-route-id="@Model.FitClass.Id" class="btn btn-outline-dark">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back</a>
</div>
