@page
@model OCFX.Pages.Fitness.HistoryModel
@{
    ViewData["Title"] = "History";
    ViewData["BannerTitle"] = ViewData["Title"];
    ViewData["BannerSubtitle"] = "Your swole life, reviewed.";
}

@if (Model.History.Count > 0)
{
<table class="table table-bordered rounded text-center">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Duration</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody class="">
        @foreach (var i in Model.History)
        {
        <tr class="d-md-table-row">
            <td class="d-sm-table-cell">@i.Date</td>
            <td class="d-md-table-cell">@i.Workout.Title</td>
            <td class="d-md-table-cell">@i.Duration</td>
            @if (i.Notes != null)
            {
                <td class="d-md-table-cell">@i.Notes</td>
            }
            else
            {
                <td class="d-md-table-cell">N/A</td>
            }

        </tr>
        }
    </tbody>
</table>
<hr />
<div class="row text-center">
    <div class="col-sm">
        <h2>Total Workout Minutes</h2>
        <p class="display-4">@Model.FullTime</p>
    </div>
    <div class="col-sm">
        <h2>Total Workouts Logged</h2>
        <p class="display-4">@Model.History.Count</p>
    </div>
</div>
} else
{
    <h3>No workout data available.</h3>
    <p>Why don't you <a asp-page="/Dashboard/AddWorkout">add one?</a></p>
}
