@page "{id}"
@model OCFX.Pages.Clubs.CommunityModel
@{
    ViewData["Title"] = "Community";
    ViewData["BannerTitle"] = Model.GymDetail.Title;
    ViewData["BannerSubtitle"] = "Members: " + @Model.MemberCount;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<section class="row">
    <div class="col-md-8">
        @if (Model.GymDetail.Status == DataModels.ApprovalStatus.Pending)
        {
            <div class="alert alert-warning">
                <p class="text-danger">
                    This club is pending approval.
                    <hr />
                    All gyms have to go through an approval process. You'll just have to wait for it to open.
                </p>
            </div>
        }
        <div>
            <p class="lead">@Model.GymDetail.Description</p>
        </div>
        <hr />
        @if (Model.MemberCount != 0)
        {
            <div>
                <h5>Members of @Model.GymDetail.Title</h5>
                <ul class="list-group">
                    @foreach (var athlete in Model.GymMembers.Where(i => i.Status != DataModels.Membership.MembershipType.Banned && i.Status != DataModels.Membership.MembershipType.Pending))
                    {
                        <li class="list-group-item">
                            <div class="d-inline-flex w-100 justify-content-between align-content-center">
                                <div>
                                    <h4>
                                        <a asp-page="/Profiles/Index" asp-route-id="@athlete.Member.Id">@athlete.Member.FullName</a>
                                    </h4>
                                    <h6>@athlete.Member.FitStyle.SkillMod @athlete.Member.FitStyle.FitType - @athlete.Status</h6>
                                    @if (Model.GymDetail.Leader == Model.Visitor.Profile && athlete.Status != DataModels.Membership.MembershipType.Leader)
                                    {
                                        <form method="post" class="insetbox-xy">
                                            <div class="btn-group btn-group-sm">
                                                <button class="btn btn-primary" asp-route-memberId="@athlete.Member.Id" asp-route-gymId="@Model.GymDetail.Id" asp-page-handler="PromoteMember">Promote</button>
                                                <button class="btn btn-secondary" asp-route-memberId="@athlete.Member.Id" asp-route-gymId="@Model.GymDetail.Id" asp-page-handler="DenySubmission">Remove</button>
                                                <button class="btn btn-danger" asp-route-memberId="@athlete.Member.Id" asp-route-gymId="@Model.GymDetail.Id" asp-page-handler="BanMember">Ban</button>
                                            </div>
                                        </form>
                                    }
                                </div>
                                <img src="@athlete.Member.Photos.FirstOrDefault(m => m.ProfileId == athlete.Member.Id).URL" alt="Alternate Text" class="friend_avatar border">
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div>The party isn't here, yet...</div>
        }
        <hr />
        <div class="d-flex text-center" id="choice_container">
            @if (Model.Subscription == null)
            {
                if (Model.ClubAllegiance)
                {
                    <form method="post" class="shadowbox-xy">
                        <p>Sign up?</p>
                        <div class="btn-group btn-group-sm">
                            <input asp-page-handler="ClubSignUp" asp-route-id="@Model.GymDetail.Id" value="Join Club" type="submit" class="btn btn-primary" />
                            <a asp-page="./Index" class="btn btn-secondary">Back to clubs</a>
                        </div>
                    </form>
                }
                else
                {
                    <div class="alert alert-danger">
                        <p class="text-danger">
                            You are with a club already.
                            <hr />
                            Slow the hell down, mate! Leave that one before you can join another.
                        </p>
                    </div>
                }
            }
            else if (Model.Subscription.Status == DataModels.Membership.MembershipType.Member)
            {
                <form method="post" class="shadowbox-xy">
                    <p>Wanna leave, punk?</p>
                    <div class="btn-group btn-group-sm">
                        <input asp-page-handler="ClubRemove" asp-route-id="@Model.GymDetail.Id" value="Leave Club" type="submit" class="btn btn-danger" />
                        <a asp-page="./Index" class="btn btn-secondary">Back to clubs</a>
                    </div>
                </form>
            }
            else if (Model.Subscription.Status == DataModels.Membership.MembershipType.Pending)
            {
                <form method="post" class="shadowbox-xy">
                    <p>Your application is pending</p>
                    <div class="btn-group btn-group-sm">
                        <input asp-page-handler="ClubRemove" asp-route-id="@Model.GymDetail.Id" value="Cancel" type="submit" class="btn btn-dark" />
                        <a asp-page="./Index" class="btn btn-secondary">Back to clubs</a>
                    </div>
                </form>
            }
            else if (Model.Subscription.Status == DataModels.Membership.MembershipType.Mentor)
            {
                <p>You're guilded!</p>
            }
            else if (Model.Subscription.Status == DataModels.Membership.MembershipType.Leader)
            {
                <p>You're the leader. Do something, if you've got some time.</p>
                @if (Model.GymDetail.Members.Where(m => m.Status == DataModels.Membership.MembershipType.Pending).Count() > 0)
                {
                    <div class="border rounded p-3">
                        <h6 class="text-right">Seems you've got some people knocking at the door. Better answer them. Make sure you ask them for the password.</h6>
                        <ul class="list-group-flush">
                            @foreach (var applicant in Model.GymMembers.Where(m => m.Status == DataModels.Membership.MembershipType.Pending))
                            {
                                <li class="list-group-item">
                                    <div class="d-inline-flex w-100 justify-content-between align-content-center">
                                        <div>
                                            <h4>
                                                <a asp-page="/Profiles/Index" asp-route-id="@applicant.Member.Id">@applicant.Member.FullName</a>
                                            </h4>
                                            <h6>@applicant.Member.FitStyle.SkillMod @applicant.Member.FitStyle.FitType - @applicant.Status</h6>
                                            <form method="post">
                                                <div class="btn-group btn-group-sm">
                                                    <button class="btn btn-primary" asp-route-memberId="@applicant.Member.Id" asp-route-gymId="@Model.GymDetail.Id" asp-page-handler="AcceptSubmission">Accept</button>
                                                    <button class="btn btn-danger" asp-route-memberId="@applicant.Member.Id" asp-route-gymId="@Model.GymDetail.Id" asp-page-handler="DenySubmission">Deny</button>
                                                </div>
                                            </form>
                                        </div>
                                        <img src="@applicant.Member.Photos.FirstOrDefault(m => m.ProfileId == applicant.Member.Id).URL" alt="Alternate Text" class="friend_avatar border">
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-sm-4 text-center" id="amenities_boardpost_container">
        @if (!Model.ClubAllegiance && Model.Subscription != null)
        {
            <div id="messageBoard_container">
                @if (Model.MessageBoardPosts > 0)
                {
                    <h2><a asp-page="MessageBoard/Index" asp-route-id="@Model.GymDetail.Id" class="btn btn-block btn-primary">Message Board</a></h2>
                }
                else
                {
                    <h2><a asp-page="MessageBoard/Index" asp-route-id="@Model.GymDetail.Id" class="btn btn-block btn-primary">Message Board</a></h2>
                }
            </div>
        }
        <div class="shadowbox-xy" id="meetings_container">
            <h3><u>Regular Meeting</u></h3>
            <hr />
            <b>@Model.GymDetail.MeetingFrequency</b>
            <p>@{@Model.GymDetail.MeetingDate}s - @Model.GymDetail.MeetingTime.ToShortTimeString()</p>
            @if (Model.Events.Count > 0)
            {
                <h6>Events:</h6>
                @foreach (var meeting in Model.Events)
                {
                    <p>@meeting.Interval - @meeting.StartTime to @meeting.EndTime</p>
                }
            }
        </div>
        <div class="shadowbox-xy" id="amenities_container">
            <h3><u>Amenities</u></h3>
            @if (Model.EquipmentDetail != null && Model.EquipmentDetail.Count() > 0)
            {
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.EquipmentDetail)
                    {
                        <li class="list-group-item">
                            <b>@item.Equipment.EquipName</b>
                            <br /> @item.Equipment.EquipDescription
                        </li>
                    }
                </ul>
            }
            else
            {
                <hr />
                <h3>N/A</h3>
            }
        </div>
    </div>
</section>
