@page
@model OCFX.Pages.Clubs.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["BannerTitle"] = "Clubs";
    ViewData["BannerSubtitle"] = "Welcome to the club.";
}

<form asp-page="./Index" method="get">
    <div class="form-group roundbox-xy">
        <p>
            <h6>Find a club by name:</h6>
            <input type="text" name="SearchString" value="@Model.CurrentSearch" class="form-control form-control-lg" />

            <div class="btn-group btn-group-sm btn-block">
                <input type="submit" value="Search" class="btn btn-dark" />
                @if (Model.CurrentSearch != null)
                {
                    <a asp-page="./Index" class="btn btn-default">Back to full List</a>
                }
            </div>
        </p>
    </div>
</form>


@if (Model.Gyms != null)
{
    <ul class="list-group">
        @foreach (var gym in Model.Gyms.Where(t => t.Status == DataModels.ApprovalStatus.Approved))
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-middle">
                    <h3>@gym.Title</h3>
                    @if (gym.Amenities != null)
                    {
                        <ul>
                            @foreach (var item in gym.Amenities)
                            {
                                <li>@item.Equipment.EquipName</li>
                            }
                        </ul>
                    }
                    <h6>
                        <a asp-page="./Community" asp-route-id="@gym.Id" class="btn btn-outline-dark">Info</a>
                    </h6>
                </div>
            </li>
        }
    </ul>
    <div class="py-3">
        <a asp-page="./ClubStartup"
           class="btn btn-block btn-outline-dark">Create a club</a>
    </div>
}
@{
    var prevDisabled = !Model.Gyms.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Gyms.HasNextPage ? "disabled" : "";
}


<div class="btn-group btn-block">
    @if (prevDisabled != "disabled")
    {<a asp-page="./Index"
        asp-route-pageIndex="@(Model.Gyms.PageIndex - 1)"
        asp-route-currentFilter="@Model.CurrentSearch"
        class="btn btn-secondary @prevDisabled">
            Previous
        </a>
    }
    @if (nextDisabled != "disabled")
    {
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.Gyms.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentSearch"
           class="btn btn-secondary @nextDisabled">
            Next
        </a>
    }
</div>