@page
@model OCFX.Pages.Profiles.FriendsModel
@using static DataModels.FriendSheet.Confirmer
@{
    ViewData["Title"] = "Friends";
    ViewData["BannerTitle"] = "Your Friends";
    ViewData["BannerSubtitle"] = "You've got friends, right?";
}

@if (Model.Friends.Count > 0)
{
    <h3>Friend Count: @Model.Friends.Count</h3>
    <div class="friend_grid">
        @foreach (var friend in Model.Friends)

        {
            <div class="d-flex justify-content-around shadowbox-xy">
                <img src="@friend.Following.ProfilePhotoUrl" alt="@friend.Following.Id" class="friend_avatar border">
                <div class="px-3">
                    <h4><a asp-page="/Profiles/Index" asp-route-id="@friend.Following.Id">@friend.Following.FullName </a></h4>
                    <h6>@friend.Following.Age @friend.Following.Gender</h6>
                    <hr />
                    @switch (friend.FriendshipConfirmer)
                    {
                        case Pending:
                            <div class="btn-group btn-group-toggle btn-group-sm">
                                <a class="btn btn-primary" asp-page-handler="AddFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Approve</a>
                                <a class="btn btn-second" asp-page-handler="RemoveFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Deny</a>
                                <a class="btn btn-danger" asp-page-handler="BlockFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Block</a>
                            </div>
                            break;
                        case Confirmed:
                            <div class="btn-group btn-group-toggle btn-group-sm">
                                <a class="btn btn-secondary" asp-page-handler="RemoveFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Remove</a>
                                <a class="btn btn-danger" asp-page-handler="BlockFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Block</a>
                            </div>
                            break;
                        case Declined:
                            <div class="btn-group btn-group-toggle btn-group-sm">
                                <a class="btn btn-danger" asp-page-handler="BlockFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Block</a>
                            </div>
                            break;
                        case Blocked:
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-outline-danger" asp-page-handler="UnblockFriend" asp-route-friend="@friend.Following.Id" asp-route-user="@Model.Profiler.Id">Un-Block</a>
                            </div>
                            break;
                        default:
                            break;
                    }
                </div>
            </div>

        }
    </div>
}
else
{
    <h3>You have no friends. =(</h3>
    <p>Go make some friends, dammit!</p>
}