@page
@model OCFX.Pages.MadminAccess.FAQs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facts.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facts.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facts.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facts.Answer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facts.Section)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facts.Section)
        </dd>
    </dl>
</div>
<div class="btn-group">
    <a asp-page="./Edit" asp-route-id="@Model.Facts.Id" class="btn btn-default">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
